<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body class="theme--trailhead" style="overflow: inherit;">

        <% include ../partials/nav.ejs %>
<main class="th-bg--light">
    <div data-react-class="search/SearchResultsContainer" data-react-props="">
        <div data-reactroot="">
            <div class="th-bg--light-gray">
                <div class="th-bg--pattern-astro-terrain">
                    <div class="slds-container slds-container_x-large slds-container_center slds-p-horizontal_large">
                        <div class="slds-grid th-overflow--hidden">
                            <div class="css-wo8hgw slds-is-relative"><img alt="astro" class="slds-p-vertical_x-small slds-p-left_small slds-is-absolute B(-30px)" src="/assets/search/astro_binoculars.svg"></div>
                            <div class="slds-grid slds-grid_vertical-align-center th-color--white slds-p-left_medium">
                                <div>
                                    <h1 class="th-text--uppercase th-text--large th-text--bold th-text--neutra-face">search results for 'Opportunity Management'</h1></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-border_bottom">
                    <div class="slds-container slds-container_x-large slds-container_center slds-p-horizontal_large">
                        <div class="slds-grid slds-grid_align-spread">
                            <div class="slds-grid slds-grid_vertical-align-center"><span class="th-text--medium th-text--bold slds-p-vertical_medium" data-test="search-result-total-num">856 Results</span></div>
                            <nav class="slds-grid slds-show_large slds-p-top_x-small slds-p-bottom_xx-small">
                                <div class="slds-col slds-grid slds-m-right_small" data-test="search-result-filter"><span class="slds-p-around_small slds-p-top_medium slds-text-title_caps th-text--bold th-text--x-small th-color--meteorite">Filter</span>
                                    <ul class="slds-list_horizontal">
                                        <li>
                                            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" id="Bkx7rVdztX">
                                                <button aria-expanded="false" aria-haspopup="true" class="slds-button--reset slds-text-link slds-p-around_small th-text--small th-color--dark-gray th-text--decorate-none th-button--transparent th-text--bold" tabindex="0" type="button">
                                                    <!-- react-text: 22 -->Role
                                                    <!-- /react-text -->
                                                    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right">
                                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" id="ByZQrEdGYm">
                                                <button aria-expanded="false" aria-haspopup="true" class="slds-button--reset slds-text-link slds-p-around_small th-text--small th-color--dark-gray th-text--decorate-none th-button--transparent th-text--bold" tabindex="0" type="button">
                                                    <!-- react-text: 28 -->Level
                                                    <!-- /react-text -->
                                                    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right">
                                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" id="HkG7rEuMKm">
                                                <button aria-expanded="false" aria-haspopup="true" class="slds-button--reset slds-text-link slds-p-around_small th-text--small th-color--dark-gray th-text--decorate-none th-button--transparent th-text--bold" tabindex="0" type="button">
                                                    <!-- react-text: 34 -->Products
                                                    <!-- /react-text -->
                                                    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right">
                                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" id="rJmmrV_zY7">
                                                <button aria-expanded="false" aria-haspopup="true" class="slds-button--reset slds-text-link slds-p-around_small th-text--small th-color--dark-gray th-text--decorate-none th-button--transparent th-text--bold" tabindex="0" type="button">
                                                    <!-- react-text: 40 -->Tags
                                                    <!-- /react-text -->
                                                    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right">
                                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slds-grid" data-test="search-result-sort">
                                    <div class="slds-col slds-p-around_small slds-p-top_medium slds-text-title_caps th-text--bold th-text--x-small th-color--meteorite">Sort</div>
                                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click" id="BkEXSNuMtQ">
                                        <button aria-expanded="false" aria-haspopup="true" class="slds-button--reset slds-text-link slds-col slds-p-around_small th-text--small th-color--dark-gray th-text--decorate-none th-button--transparent th-text--bold" tabindex="0" type="button">
                                            <!-- react-text: 49 -->Most Relevant
                                            <!-- /react-text -->
                                            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right">
                                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-container slds-container_x-large slds-container_center">
                <div class="slds-hide_large">
                    <div class="slds-border_bottom">
                        <div class="slds-container slds-container_x-large slds-container_center slds-p-horizontal_large">
                            <button class="slds-button slds-grid slds-grid_align-spread slds-size_1-of-1 slds-p-vertical_x-small">
                                <div><span><svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use></svg><span class="slds-assistive-text">filter</span></span><span class="slds-p-left_medium th-text--bold th-text--uppercase th-color--dark-gray">Filter</span></div>
                                <div class="th-text--bold"><span><svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use></svg><span class="slds-assistive-text">filter</span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="slds-border_bottom">
                        <div class="slds-container slds-container_x-large slds-container_center slds-p-horizontal_large">
                            <button class="slds-button slds-grid slds-grid_align-spread slds-size_1-of-1 slds-p-vertical_x-small">
                                <div><span><svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rating"></use></svg><span class="slds-assistive-text">sort</span></span><span class="slds-p-left_medium th-text--bold th-text--uppercase th-color--dark-gray">Sort</span></div>
                                <div><span class="slds-m-right_small th-text--bold th-color--dark-gray">Most Relevant</span><span><svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use></svg><span class="slds-assistive-text">filter</span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="slds-p-horizontal_large slds-p-bottom_large">
                    <!-- react-empty: 92 -->
                    <div class="slds-grid slds-wrap">
                        <div class="slds-medium-order_2 slds-large-order_1 slds-large-size_3-of-4 slds-is-relative">




                            <div class="slds-card" style="border-top: 8px solid rgb(22, 50, 92); border-radius: 8px;">
                               <div>
                                  <span class="slds-grid slds-p-top_small slds-grid_align-spread slds-hide_medium slds-grid_vertical-align-center slds-p-horizontal_large">
                                     <span class="W(70px)"><a href="/en/modules/opportunity-management"><img class="Bdrs(12px)" alt="badge icon" src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_opportunity_management.png" aria-label="badge-icon" style="background: none;"><span class="slds-assistive-text">Opportunity Management</span></a>
                                     </span>
                                     <span>
                                        <div class="slds-badge th-badge--rounded-small th-text--bold th-text--x-small">+300 Points</div>
                                     </span>
                                  </span>
                                  <div class="th-medium-size-p-top_large slds-p-bottom_large slds-grid slds-p-horizontal_large">
                                     <div class="Flxb(100px) Flxs(50px) slds-show_medium"><a href="/en/modules/opportunity-management"><img class="Bdrs(12px)" alt="badge icon" src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_opportunity_management.png" aria-label="badge-icon" style="background: none;"><span class="slds-assistive-text">Opportunity Management</span></a></div>
                                     <div class="th-medium-size-p-left_large slds-grow">
                                        <div class="slds-grid slds-grid_align-spread">
                                           <div class="slds-m-top_small">
                                              <div class="Fw(b) slds-m-bottom_xx-small th-text--black">Module</div>
                                           </div>
                                           <span class="slds-show_medium">
                                              <span>
                                                 <div class="slds-badge th-badge--rounded-small th-text--bold th-text--x-small">+300 Points</div>
                                              </span>
                                           </span>
                                        </div>
                                        <a class="Fw(b) slds-text-heading_medium" href="/en/modules/opportunity-management"><span><mark class=" " style="background-color: yellow;">Opportunity</mark><span class=""> </span><mark class=" " style="background-color: yellow;">Management</mark></span></a>
                                        <div class="slds-m-top_x-small th-text--small th-color--meteorite"><span><span class="">Learn to </span>
                                           <mark class=" " style="background-color: yellow;">manage</mark><span class=""> prospects from lead to close in Sales Cloud.</span></span>
                                        </div>
                                        <div class="slds-m-top_medium slds-grid slds-grid_align-spread">
                                           <div class="slds-grid slds-grid_vertical-align-top">
                                              <div class="slds-dropdown-trigger slds-dropdown-trigger--click" id="SJESVdGF7">
                                                 <button aria-expanded="false" aria-haspopup="true" class="slds-button slds-button--neutral slds-button slds-button--icon-border-filled slds-button_icon tds-button_icon slds-m-left_xx-small" tabindex="0" type="button">
                                                    <span class="slds-icon_container slds-icon-standard-quotes th-bg--transparent">
                                                       <svg aria-hidden="true" class="slds-button__icon tds-button__icon Fill(d-gray) slds-icon slds-icon--small">
                                                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#quotes"></use>
                                                       </svg>
                                                       <span class="slds-assistive-text">tags</span>
                                                    </span>
                                                    <!-- react-text: 143 -->4
                                                    <!-- /react-text -->
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>









                            <!--div class="slds-text-align_center">
                                <div class="slds-m-top_large">
                                    <button class="slds-button slds-button_neutral th-button th-button--medium" disabled="" data-test="search-paginator-prev-button">Prev</button>
                                    <button class="slds-m-left_small slds-button slds-button_neutral th-button th-button--medium" data-test="search-paginator-next-button">Next</button>
                                </div>
                            </div-->
                        </div>
                        <!--div class=" slds-size_1-of-1 slds-small-size_4-of-4 slds-order_2 slds-large-order_2 slds-large-size_1-of-4 th-large-size-p-left_medium slds-m-top_large ">
                            <div class="slds-p-around_x-large slds-panel th-div--rounded">
                                <div>
                                    <div class="slds-m-bottom_medium slds-text-title_caps th-text--bold th-text--x-small">Recent Searches</div>
                                    <a href="#" class="th-link--decorate-none th-text--capitalize slds-text-title th-text--small">
                                        <div class="slds-m-top_small">
                                            <div class="th-text--ellipsis"><span class="slds-icon_container"><svg class="slds-button__icon slds-icon-text-light slds-m-right_small" aria-hidden="true"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use></svg><span class="slds-assistive-text"></span></span>
                                                opportunity management
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="th-link--decorate-none th-text--capitalize slds-text-title th-text--small">
                                        <div class="slds-m-top_small">
                                            <div class="th-text--ellipsis"><span class="slds-icon_container"><svg class="slds-button__icon slds-icon-text-light slds-m-right_small" aria-hidden="true"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use></svg><span class="slds-assistive-text"></span></span>
                                                "platform events basics"
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="th-link--decorate-none th-text--capitalize slds-text-title th-text--small">
                                        <div class="slds-m-top_small">
                                            <div class="th-text--ellipsis"><span class="slds-icon_container"><svg class="slds-button__icon slds-icon-text-light slds-m-right_small" aria-hidden="true"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use></svg><span class="slds-assistive-text"></span></span>
                                                platform events basics
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="slds-m-top_x-large">
                                    <div class="slds-m-bottom_medium slds-text-title_caps th-text--bold th-text--x-small">Recently Viewed</div>
                                    <a class="th-link--decorate-none th-text--capitalize slds-m-top_x-small slds-text-title th-text--small" href="/en/modules/manage_the_sfdc_way_great_management">
                                        <div class="slds-grid slds-m-top_small">
                                            <div class="Flxb(32px) Flxs(0) slds-m-right_small"><img src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_lead_great_management.png" alt="badge icon" class="slds-icon th-search-recent__icon"></div>
                                            <div class="slds-grow slds-p-vertical_x-small th-text--ellipsis">Great Management</div>
                                        </div>
                                    </a>
                                    <a class="th-link--decorate-none th-text--capitalize slds-m-top_x-small slds-text-title th-text--small" href="/en/modules/territory-management-best-practices">
                                        <div class="slds-grid slds-m-top_small">
                                            <div class="Flxb(32px) Flxs(0) slds-m-right_small"><img src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_territory_management_best_practices.png" alt="badge icon" class="slds-icon th-search-recent__icon"></div>
                                            <div class="slds-grow slds-p-vertical_x-small th-text--ellipsis">Territory Management Best Practices</div>
                                        </div>
                                    </a>
                                    <a class="th-link--decorate-none th-text--capitalize slds-m-top_x-small slds-text-title th-text--small" href="/en/modules/sales-strategies-for-retail-banking">
                                        <div class="slds-grid slds-m-top_small">
                                            <div class="Flxb(32px) Flxs(0) slds-m-right_small"><img src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_sales_strategies_for_retail_banking.png" alt="badge icon" class="slds-icon th-search-recent__icon"></div>
                                            <div class="slds-grow slds-p-vertical_x-small th-text--ellipsis">Sales Strategies for Retail Banking</div>
                                        </div>
                                    </a>
                                    <a class="th-link--decorate-none th-text--capitalize slds-m-top_x-small slds-text-title th-text--small" href="/en/modules/sales_admin_high_velocity_sales">
                                        <div class="slds-grid slds-m-top_small">
                                            <div class="Flxb(32px) Flxs(0) slds-m-right_small"><img src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_high-velocity_sales.png" alt="badge icon" class="slds-icon th-search-recent__icon"></div>
                                            <div class="slds-grow slds-p-vertical_x-small th-text--ellipsis">Einstein High Velocity Sales Cloud</div>
                                        </div>
                                    </a>
                                    <a class="th-link--decorate-none th-text--capitalize slds-m-top_x-small slds-text-title th-text--small" href="/en/projects/customize-a-sales-path-for-your-team">
                                        <div class="slds-grid slds-m-top_small">
                                            <div class="Flxb(32px) Flxs(0) slds-m-right_small"><img src="https://developer.salesforce.com/resource/images/trailhead/badges/projects/trailhead_project_customize_a_sales_path_for_your_team.png" alt="badge icon" class="slds-icon th-search-recent__icon"></div>
                                            <div class="slds-grow slds-p-vertical_x-small th-text--ellipsis">Customize a Sales Path for Your Team</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
            <div style="box-sizing: content-box; position: fixed; display: block; z-index: 10000; width: 300px; padding-left: 20px; max-width: 300px; height: 100%; top: 0px; right: 0px; margin: 0px; transform: translate3d(300px, 0px, 0px); opacity: 1; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div class="th-bg--light th-height--full slds-panel" style="display: none; width: 300px; height: 100%; overflow: auto;"></div>
            </div>
        </div>
    </div>
</main>


    </body>
</html>